<form {{action "login" on="submit"}}>

  <label>Email</label>
  {{input value=email}}

  <label>Password</label>
  {{input value=password type="password"}}

  {{input type="submit" value="Login"}}

</form>
