<h2 id="title">Ember Auth</h2>

<ul>
  <li>
    {{#if authentication.isLoggedIn}}
      <button {{action 'logout'}}> Logout </button>
    {{else}}
      {{#link-to 'login'}} Login {{/link-to}}
    {{/if}}
  </li>

  <li>
    {{#link-to 'settings'}} Settings {{/link-to}}
  </li>
</ul>

{{outlet}}
