<h2 id="title">Torii Auth</h2>

{{#if session.isAuthenticated}}
  Hello, {{session.user.name}}
  <button {{action "logout"}}> Logout </button>
{{else}}
  {{#link-to "login"}}Login{{/link-to}}
{{/if}}

{{outlet}}
